*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
body{
    border: 15px solid;
    border-color: white green white yellow;
    height: 100vh;
    /* margin: 10px; */
    /* overflow: hidden; */
    /* background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden; */

}
.sky{
    background-image: url(./sky.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden; 
    z-index: 1;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    column-gap: 12px;
}
.text1{
    border: 1px solid yellow;
    background-color: rgb(255, 187, 0);
}
.text2{
    border: 1px solid white;
    background-color: white;
}
.text3{
    border: 1px solid green;
    background-color: green;
}
.sun{
    position: absolute;
    left: 1000px;
    width: 90px;
}
.city{
    /* background-image: url(./city.png); */
    position: absolute;
    bottom: 200px;
    /* overflow: hidden; */
    width: 100%;
    z-index: 2;
}
.road{
    background-image: url(./road.jpg);
    position: absolute;
    bottom: 0px;
    width: 500%;
    height: 200px;
    z-index: 3;
    left: 0;
    right: 0;
    animation: road  6s infinite  linear ;
    /* overflow-x: hidden; */
}
@keyframes road{
    100%{
        transform: translateX(-3000px);
    }
}
.car{
    position: absolute;
     /* top: 400px; */
     left: 250px;
     bottom: 65px;
    width: 300px;
    height: 115px;
    z-index: 4;
}
.flag{
    position: relative;
    top: 320px;
    left: 720px;
    width: 70px;
    z-index: 5;


}
.wheel1{
    position: absolute;
    left: 525px;
    bottom: 130px;
    width: 56px;
    height: 55px;
    z-index: 6;
    animation: wheel1 2s  infinite linear;
}
@keyframes wheel1{
    100%{
        transform: rotate(360deg);
    }
}
.wheel2{
    position: absolute;
    left: 709px;
    bottom: 130px;
    width: 56px;
    height: 55px;
    z-index: 6;
    animation: wheel2 2s  infinite linear;
}
@keyframes wheel2{
    100%{
        transform: rotate(360deg);
    }
}
