*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(251, 255, 0);
}
h1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
h2{
    text-align: center;
    color: blue;
    font-size: 32px;

}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.box{
    border: 1px solid black;
    width: 100px;
    height: 90px;
    /* animation: hello 2s ease-in-out  infinite alternate; */
}
p{
    position: absolute;
    left: 450px;
    font-weight: bold;
}
.box1{
    background-color: rgb(65, 129, 129);
    animation: box1 2s ease infinite alternate forwards;
}
@keyframes box1{
    0%{
        transform: skewX(-30deg);
        }
    100% {
    transform:skewX(30deg);
    }
}
.box2{
    background-color: rgb(156, 148, 148);
    animation: box2 2s ease-in infinite alternate both;
}
@keyframes box2{
    0%{
        transform: skewY(30deg);
        }
    100% {
    transform:skewY(-30deg);
    } 
}
.box3{
    background-color: rgb(105, 150, 135);
animation: box3 2s ease-in infinite reverse forwards;
}
@keyframes box3{
    0%{
        transform: rotate(360deg);
        }
}
.box4{
    background-color: rgb(54, 105, 88);
    animation: box4 2s ease infinite alternate forwards;
}
@keyframes box4{
    0%{
        transform: scaleY(.5);
        }
    100% {
    transform:scaleY(1);
    } 
}
.box5{
    background-color: brown;
    animation: box5 2s ease infinite alternate forwards;
}
@keyframes box5{
    0%{
        transform: scaleX(.5);
        }
    100% {
    transform:scaleX(1);
    } 
}
.box6{
    background-color: rgb(101, 202, 76);
    animation: box6 2s ease infinite alternate both;
}
@keyframes box6{
    0%{
        transform: rotate(180deg);
        }
}
ol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
li{
    background-color: rgb(34, 219, 34);
}
.box{
    transition: 3s;
}
.item1:hover{
 width: 300px;
}
.item2:hover{
    width: 300px;
    height: 250px;
}